@import url('fonts.css');

html {
	font-family: 'BookkMyungjo';
	font-weight: 700;
	font-size: 16px;
	line-height: 1.8;
	word-break: keep-all;
}

body,h1,h2,h3,h4,p,ul {
	margin: 0px;
	padding: 0px;
}

section {
	background: #fff;
	padding: 150px 0px ;
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.5;
	margin: 80px 0px 30px;
}

h2 {
	font-family: 'BookkMyungjo';
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.6;
	margin: 5px 0px 20px;
}

.wrap {
	width: 1100px;
	margin: auto;
	position: relative;
}

.poster-wrap {
	position: relative;
	width: fit-content;
	margin: auto;
}

.center-gif {
	display: block;
	width: 300px; /* 원하는 크기 */
	margin: auto;
}

.left-text,
.right-text {
	position: absolute;
	top: 50%;
	white-space: nowrap;
	transform-origin: center;
	text-align: center;
}

.left-text {
	left: -400px;
	transform: translateY(-50%) rotate(-90deg);
	transition: all 0.3s ease;
}

.left-text:hover {
	color: blue;
	transform: translateY(-50%) rotate(-82deg);
}

.right-text {
	right: -400px;
	transform: translateY(-50%) rotate(90deg);
	transition: all 0.3s ease;
}

.right-text:hover {
	color: blue;
	transform: translateY(-50%) rotate(98deg);
}

.center-gif {
	display: block;
	margin: 0 auto;
}

.right-spacing {
	text-align: right;
}

.center-spacing {
	text-align: center;
}

.bg-black {
	background-color: black;
	color: #fff;
}

.inline-img {
	display: inline;
	height: 1.5em;
	width: auto;
	vertical-align: middle;
}

.hover-line {
	display: block;
	position: relative;
  }
  
  .hover-line span {
	display: inline-block;
	font-size: 3rem;
	line-height: 2;
  }
  
  .hover-line .hover {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	font-size: 2.9rem;
	font-family: 'BookkGothic';
	color: blue;
  }
  
  .hover-line:hover .default {
	opacity: 0;
  }
  
  .hover-line:hover .hover {
	opacity: 1;
  }

.back-btn {
	position: fixed;
	right: 110px;
	bottom: 80px;
	font-size: 4rem;
	text-decoration: none;
	color: black;
	z-index: 9999;
	transition: transform 0.3s;
}

.back-btn:hover {
	transform: translateX(-8px);
}